<form>
<mat-form-field>
    <span>Search for a city: </span>
    <input matInput aria-label="City" [matAutocomplete]="auto" [formControl]="searchCitiesCtrl">
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption (optionSelected)="displayWeather($event)" [displayWith]="displayFn">
        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
      <ng-container *ngIf="!isLoading && filteredCities">
        <mat-option *ngFor="let city of filteredCities[0]" [value]="city">
          <span><b>{{city.LocalizedName}}</b>, {{city.Country.LocalizedName}}</span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
</mat-form-field>
</form>
  <br>
<ng-container *ngIf="errorMsg">
  {{errorMsg}}
</ng-container>