
    <div [ngClass]="favButton ? 'onMain': 'onFavs'" id={{city.key}} (click)="displayCityInHome(city.key,city.name)">
        <p>{{city.name}}</p>
        <img src='https://developer.accuweather.com/sites/default/files/{{city.icon}}'>
        <p>{{city.text}}&nbsp;</p>
        <p *ngIf="degreeM"> {{city.tempM}}<sup>&#9702;C</sup></p>
        <p *ngIf="!degreeM"> {{city.tempI}}<sup>&#9702;F</sup></p>
        <div *ngIf='favButton'>
            <button *ngIf="!heart" type="button" class="btn-lg" (click)=favorite()>&#9825;</button>
            <button *ngIf="heart" type="button" class="btn-lg" (click)=favorite()>&#10084;</button>
        </div>
    </div>

