.onMain{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.onFavs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
}
.btn{
    border: solid;
}